@charset "utf-8";
/* CSS Document */

html { overflow-y: scroll; }

.masonrygrid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer { width: 25%; }
.masonrygrid-item { width: 25%; }

.masonrygrid-item {
  float: left;
  line-height: 1em;
  position: relative;
}

.lb-image, .lb-dataContainer {
 max-width: 100%;
 height: auto !important;
 width: 100%;
}

.lb-outerContainer {
 max-width: 100%;
 height: auto !important;
}

 
@media screen and (max-width: 1224px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 33.33%; }
  .masonrygrid-item { width: 33.33%; }
}
 
@media screen and (max-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 50%; }
  .masonrygrid-item { width: 50%; }
}
 
@media screen and (max-width: 480px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 100%; }
  .masonrygrid-item { width: 100%; }
}

.masonrygrid-item img {
    max-width: 100%;
    margin: 0;
    display: block;
}

.masonrygrid-item img:after {
    clear:both;
}