@charset "utf-8";
/* CSS Document */

.masonrygrid-item {
    float: left;
    position: relative;
    line-height: 1em;
}
 
.grid-sizer { width: 20%; }
.masonrygrid-item { width: 20%; }
 
@media screen and (max-width: 1224px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 33.33%; }
  .masonrygrid-item { width: 33.33%; }
}
 
@media screen and (max-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 50%; }
  .masonrygrid-item { width: 50%; }
}
 
@media screen and (max-width: 480px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 100%; }
  .masonrygrid-item { width: 100%; }
}

.masonrygrid-item img {
    max-width: 100%;
    margin: 0;
    display: block;
}

.masonrygrid-item img:after {
    clear:both;
}